template/.idea/
template/build/
template/.gradle/
template/gradle/wrapper/gradle-wrapper.jar
template/gradle/wrapper/gradle-wrapper.properties
template/gradlew
template/gradlew.bat
template/settings.gradle
